body {
    margin: 0;
    padding: 0;
    background-color: #000418;
    color: white;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.name {
    font-size: 100px;
    font-style: italic;
    font-family: 'Georgia', serif;
    white-space: nowrap;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    display: block;
}

img {
    width: 800px;
    margin-top: 30px;
}

.center img {        
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.image-credit {
    font-size: 12px;
}

.image-credit a {
    color: white;
}

.image-credit a:hover {
    color: skyblue;
}

.descriptions {
    position: relative;
    height: 60px;
    margin-top: 50px;
}

.description1, .description2, .description3 {
    color: #eee4c0;
    font-size: 60px;
    font-family: Arial, sans-serif;
    white-space: nowrap;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    animation: fadeCycle 12s infinite;
}

.description1 {
    animation-delay: 0s;
}

.description2 {
    animation-delay: 4s;
}

.description3 {
    animation-delay: 8s;
}

@keyframes fadeCycle {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.profiles {
    color: aqua;
    font-size: 60px;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 80px;
}

.links {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links a {
    margin: 0 12px;
}

.links img {
    width: 60px;
}

.resume {
    font-size: 30px;
    margin-top: 40px;
}

.resume a {
    color: aquamarine;
    text-decoration: none;
    border: 2px solid aquamarine;
    padding: 5px 10px;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
}

.resume a:hover {
    background-color: #014545;
}

.footer {
    margin-top: 50px;
    font-size: 14px;
}